body {
  margin: 0;
  background: #10144a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-family: Arial, sans-serif;
}

/* LOGO */
.logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: clamp(60px, 12vw, 120px);
  opacity: 0.85;
  z-index: 1000;
}

/* CONTAINER FLIPBOOK */
.flipbook-container {
  position: relative;
  width: min(92vw, 420px);
  aspect-ratio: 411 / 659;
  perspective: 2000px;
}

/* LIVRE */
.flipbook {
  width: 100%;
  height: 100%;
  position: relative;
}

/* PAGE */
.page {
  position: absolute;
  inset: 0;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform-origin: left center;
  transition: transform 0.9s ease;
  backface-visibility: hidden;
  user-select: none;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* PAGE TOURNÉE */
.page.flipped {
  transform: rotateY(-180deg);
}

/* BOUTONS */
/* BOUTON TÉLÉPHONE FLOTTANT */
#contact-button {
  position: fixed; /* reste visible même en scroll */
  bottom: 20px; /* bas de la page */
  right: 20px; /* droite de la page */
  background: #f8979467; /* couleur bouton */
  color: #7b3f00;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 4px;
  border-radius: 50%; /* rond */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#contact-button:hover {
  background: #fddbd9;
  color: #f89794;
  transform: translateY(-3px);
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fddbd9;
  color: #f89794;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 8px;
  opacity: 0.8;
}

#prev:hover,
#next:hover {
  opacity: 1;
}

#prev {
  left: -45px;
}
#next {
  right: -45px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  #prev {
    left: 5px;
  }
  #next {
    right: 5px;
  }
  #prev,
  #next {
    font-size: 1.6rem;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  #prev,
  #next {
    font-size: 1.4rem;
    padding: 6px 10px;
  }
}
